/* Brands Section Styles */

.brands01 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(1rem, 5vw, 5rem);
  row-gap: 0;
  justify-content: start;
  align-items: start;
}

/* Responsive Design */
@media (max-width: 768px) {
  .brands01 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: start;
  }

  .collab > a {
    width: 100%;
    text-align: center;
  }
}
